.homeCardsComp{
    /* display: flex;
    flex-direction: column; */
    padding: 6vw;
    background-color: #070707;
}
.featuredProjectsHeading{
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: calc(22px + 0.3vw);
}
.homeCardsWrapper{
    display: flex;
    justify-content: space-between;
}
.homeCard{
    width: calc(80vw / 3);
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.homeCardImgDiv{
    position: relative;
    height: calc(80vw / 5);
    width: 100%;
}
.homeCardDesc{
    padding: 20px;
}
.homeCardDesc p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    font-size: calc(12px + 0.3vw)
}