.homeAboutWrapper{
    background-color: rgba(86, 102, 122, 0.1);
    padding: 6vw;
    color: #070707;
}
.homeAboutHeading{
    width: 100%;
    text-align: center;
    font-size: calc(22px + 0.3vw);
    margin-bottom: 10px;
}
.homeAboutText{
    width: 100%;
    text-align: center;
    font-size: calc(12px + 0.3vw);
    font-weight: 400;
}