.outsourcingServiceComponentHeader1, .outsourcingServiceComponentHeader2, .outsourcingServiceComponentHeader3, .outsourcingServiceComponentHeader4{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc((100vh - 60px) / 2);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 0px 200%;
}
.outsourcingServiceComponentHeader1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/Assets/outsourcingService1.jpg');
}
.outsourcingServiceComponentHeader2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/Assets/outsourcingService2.jpg');
}
.outsourcingServiceComponentHeader3{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/Assets/outsourcingService3.jpg');
}
.outsourcingServiceComponentHeader4{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/Assets/outsourcingService4.jpg');
}
.outsourcingServiceComponentHeaderTitle{
    font-size: calc(22px + 0.5vw);
}
.outsourcingServiceComponentContent{
    padding: 6vw;
    min-height: calc((100vh - 60px) / 2);
}
.outsourcingServiceComponentContentText{
    font-size: calc(12px + 0.5vw);
    margin: 10px 0 !important;
}
.outsourcingServiceComponentContentHeading{
    margin: 0px 0 10px 0;
    font-size: calc(12px + 0.5vw);
}
.outsourcingServiceComponentImages{
    display: flex;
    margin: 0 6vw 6vw 6vw ;
}
.outsourcingServiceComponentImage{
    flex: 1;
    margin: 15px;
    display: flex;
    justify-content: center; 
}
.outsourcingServiceComponentImage img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    height: 300px;
}
.outsourcingServiceFilter{
    display: flex;
    flex-wrap: wrap;
    margin: 6vw 0;
}
.outsourcingServiceFilterButton{
    padding: 10px;
    border: 1px solid #56667A;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #56667A;
    margin: 0 10px 10px 0;
    transition: all 0.2s ease;
}
.outsourcingServiceFilterButtonSelected{
    background-color: #56667A;
    color: #ffffff;
}
.outsourcingServiceComponentSubserviceWrapper{
    display: flex;
}
.outsourcingServiceComponentSubserviceContent{
    flex: 1;
}
.outsourcingServiceComponentSubserviceImage{
    flex: 1;
}
.outsourcingServiceComponentSubserviceSeparator{
    flex: 0.1;
}
.outsourcingServiceComponentSubserviceImage img{
    width: 100%;
    object-fit: cover;
}

@media(max-width: 768px){
    .outsourcingServiceComponentSubserviceWrapper{
        flex-direction: column;
    }
    .outsourcingServiceComponentSubserviceContent{
        margin: 0 0 20px 0;
    }
    .outsourcingServiceComponentSubserviceSeparator{
        display: none;
    }
    .outsourcingServiceComponentImages{
        flex-direction: column;
    }
}