@import "../Components/carouselHome.css";
@import "../Components/landingPage.css";
@import "../Components/Outsourcing/landingPageO.css";
@import "../Components/navbar.css";
@import "../Components/footer.css";
@import "../Components/projectGallery.css";
@import "../Components/servicesComp.css";
@import "../Components/projectDesc.css";
@import "../Components/carouselProject.css";
@import "../Components/contactUs.css";
@import "../Components/homeAbout.css";
@import "../Components/homeCards.css";
@import "../Components/aboutUs.css";
@import "../Components/projectGalleryFilter.css";
@import "../Components/homeWhyUs.css";
@import "../Components/superFooter.css";
@import "../Components/homeServices.css";
@import "../Components/homeTestimonials.css";
@import "../Components/Outsourcing/servicesO.css";
@import "../Components/Outsourcing/serviceComponentO.css";
@import"../Components/faq.css";
@import "../Components/team.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}
h1, h2, h3{
  font-family: 'Abril Fatface', cursive, sans-serif;
}
p, a{
  font-family: 'Fredoka', serif;
}
p, ul{
  margin: 0 !important;
}
a, a:hover, a:focus, a:active {
  text-decoration: inherit !important;
  color: inherit !important;
}
br{
  display: block;
  content: ""; 
  margin-top: 10px; 
}
* {
  box-sizing: border-box;
}
.faqsWrapper{
  padding: 3vw 6vw 6vw 6vw;
}

.faqsHeading{
  text-align: center;
  font-size: calc(22px + 0.5vw);
  margin-bottom: 20px;
}